.social_icons a {
  background: url("/img/to sprite/social_icons.png") no-repeat scroll 0 0 transparent;
  transition: all 0.3s ease-out 0s;
  float: right;
  height: 40px;
  position: relative;
  padding: 0px;
}
.social_icons .facebook a {
  background-position: 0 top;
}
.social_icons .facebook a:hover {
  background-color: #3B5998;
  background-position: 0 bottom;
}
.social_icons .twitter a {
  background-position: -34px top;
}
.social_icons .twitter a:hover {
  background-color: #33CCFF;
  background-position: -34px bottom;
}
.social_icons .vimeo a {
  background-position: -68px top;
}
.social_icons .vimeo a:hover {
  background-color: #41B0FF;
  background-position: -68px bottom;
}
.social_icons .googleplus a {
  background-position: -102px top;
}
.social_icons .googleplus a:hover {
  background-color: #D94A39;
  background-position: -102px bottom;
}
.social_icons .pinterest a {
  background-position: -136px top;
}
.social_icons .pinterest a:hover {
  background-color: #CB2027;
  background-position: -136px bottom;
}
.social_icons .linkedin a {
  background-position: -170px top;
}
.social_icons .linkedin a:hover {
  background-color: #71B2D0;
  background-position: -170px bottom;
}
.social_icons .dribbble a {
  background-position: -204px top;
}
.social_icons .dribbble a:hover {
  background-color: #EF5B92;
  background-position: -204px bottom;
}
.social_icons .instagram a {
  background-position: -238px top;
}
.social_icons .instagram a:hover {
  background-color: #3C87FC;
  background-position: -238px bottom;
}
.social_icons .skype a {
  background-position: -272px top;
}
.social_icons .skype a:hover {
  background-color: #18B7F1;
  background-position: -272px bottom;
}
.social_icons .rss a {
  background-position: -306px top;
}
.social_icons .rss a:hover {
  background-color: #FE9900;
  background-position: -306px bottom;
}
/* Social Sprites: General Listing
================================================== */
.ss {
  white-space: nowrap;
  position: relative;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ss a {
  background-image: url("/img/to sprite/socialsprites.png");
  display: inline-block;
  text-indent: -9999;
  height: 40px;
  width: 40px;
  font-size: 0;
}
.ss a:active {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.ss a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ss a.digg {
  background-position: 0 0;
}
.ss a.digg:hover {
  background-position: 0 -40px;
}
.ss a.dribbble {
  background-position: 0 -80px;
}
.ss a.dribbble:hover {
  background-position: 0 -120px;
}
.ss a.facebook {
  background-position: 0 -160px;
}
.ss a.facebook:hover {
  background-position: 0 -200px;
}
.ss a.flickr {
  background-position: 0 -240px;
}
.ss a.flickr:hover {
  background-position: 0 -280px;
}
.ss a.forrst {
  background-position: 0 -320px;
}
.ss a.forrst:hover {
  background-position: 0 -360px;
}
.ss a.googleplus {
  background-position: 0 -400px;
}
.ss a.googleplus:hover {
  background-position: 0 -440px;
}
.ss a.html5 {
  background-position: 0 -480px;
}
.ss a.html5:hover {
  background-position: 0 -520px;
}
.ss a.icloud {
  background-position: 0 -560px;
}
.ss a.icloud:hover {
  background-position: 0 -600px;
}
.ss a.lastfm {
  background-position: 0 -640px;
}
.ss a.lastfm:hover {
  background-position: 0 -680px;
}
.ss a.linkedin {
  background-position: 0 -720px;
}
.ss a.linkedin:hover {
  background-position: 0 -760px;
}
.ss a.myspace {
  background-position: 0 -800px;
}
.ss a.myspace:hover {
  background-position: 0 -840px;
}
.ss a.paypal {
  background-position: 0 -880px;
}
.ss a.paypal:hover {
  background-position: 0 -920px;
}
.ss a.picasa {
  background-position: 0 -960px;
}
.ss a.picasa:hover {
  background-position: 0 -1000px;
}
.ss a.pinterest {
  background-position: 0 -1040px;
}
.ss a.pinterest:hover {
  background-position: 0 -1080px;
}
.ss a.reddit {
  background-position: 0 -1120px;
}
.ss a.reddit:hover {
  background-position: 0 -1160px;
}
.ss a.rss {
  background-position: 0 -1200px;
}
.ss a.rss:hover {
  background-position: 0 -1240px;
}
.ss a.skype {
  background-position: 0 -1280px;
}
.ss a.skype:hover {
  background-position: 0 -1320px;
}
.ss a.stumbleupon {
  background-position: 0 -1360px;
}
.ss a.stumbleupon:hover {
  background-position: 0 -1400px;
}
.ss a.tumblr {
  background-position: 0 -1440px;
}
.ss a.tumblr:hover {
  background-position: 0 -1480px;
}
.ss a.twitter {
  background-position: 0 -1520px;
}
.ss a.twitter:hover {
  background-position: 0 -1560px;
}
.ss a.vimeo {
  background-position: 0 -1600px;
}
.ss a.vimeo:hover {
  background-position: 0 -1640px;
}
.ss a.wordpress {
  background-position: 0 -1680px;
}
.ss a.wordpress:hover {
  background-position: 0 -1720px;
}
.ss a.yahoo {
  background-position: 0 -1760px;
}
.ss a.yahoo:hover {
  background-position: 0 -1800px;
}
.ss a.youtube {
  background-position: 0 -1840px;
}
.ss a.youtube:hover {
  background-position: 0 -1880px;
}
