.button {
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
  background: #e9e9e9;
  white-space: nowrap;
}
.button:hover,.button:active,.button:focus{
  color: #fff;
}

.button-blue {
  box-shadow: none;
  background: #00a1cb;
  color: white;
  text-shadow: none;
  border: none;
  &:hover{
    background: #00b5e5;
  }
  &:active {
    background: #1495b7;
    color: #00647f;
  }
}

.button-green {
  background: #7db500;
  color: white;
  text-shadow: none;
  border: none;
  &:hover {
    background: #8fcf00;
  }
  &:active {
    background: #76a312;
    color: #486900;
  }
}

.button-orange {
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none;
  &:hover {
    background: #fa9915;
  }
  &:active {
    background: #d8891e;
    color: #a66103;
  }
}

.button-red {
  background: #e54028;
  color: white;
  text-shadow: none;
  border: none;
  &:hover {
    background: #e8543f;
  }
  &:active {
    background: #cd5240;
    color: #ac2815;
  }
}
.button-violet {
  background: #87318c;
  color: white;
  text-shadow: none;
  border: none;
  &:hover {
    background: #99389f;
  }
  &:active {
    background: #764479;
    color: #501d53;
  }
}


.button-large {
  font-size: 19px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px;
}


.button-small {
  font-size: 12px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px;
}

.button-tiny {
  font-size: 11px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px;
}

/*
input.button, button.button {
  height: 34px;
  cursor: pointer;
}
input.button-small, button.button-small {
  height: 27.6px;
}
input.button-large, button.button-large {
  height: 40.4px;
}
input.button-tiny, button.button-tiny {
  height: 24.4px;
}
*/