@import url(http://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin,latin-ext);

body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    background:url("/img/items/background.jpg");
    background-color: #154F75;
    background-attachment: scroll;
    background-position: left 0px;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
}
h1, h2, h3, h4, h5, h6, caption {
    font-family: 'Oswald',sans-serif !important;
    font-weight: normal;
    word-spacing: 3px;
    line-height: 1.2em;
}
a, a > * {
	text-shadow: none;
	text-decoration: none;
	outline: 0;
    color:#f18d05;
}
a:hover,a:focus {
    text-decoration: none;
    color:#e8543f;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
html{
	height: 100%;
}
@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('/pluggin/BLOKKNeue/BLOKKNeue-Regular.woff') format('woff'),
    url('/pluggin/BLOKKNeue/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
}
body #template{
    font-family: "BLOKKNeue-Regular"
}
.justify{
    text-align: justify;
}
header{
    background:rgba(253, 254, 254, 0.95);
    margin-bottom:15px; 
    div {
        z-index: 97;
        margin-bottom: 5px;
        img {
            margin-top: 6px;
            margin-left: 30px;
            float: left;
            height: 45px;
        }
        nav {
            margin-top: 5px;
            text-align:right;
            white-space: nowrap;
            div{
                margin: 5px;
                padding-bottom: 0px;
                padding-top: 4px;
                ul.nav{
                    float:right !important;
                }
            }
        }
    }
    #menu .dropdown-menu{
        margin-top:7px;
        background: none repeat scroll 0 0 #4C4C4C;
        min-width: 180px;
        left: auto;
        right: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:after,&:before{
            bottom: 100%;
            left:86%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            margin-top: -14px;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #4C4C4C;
            border-width: 10px;
            margin-left: -10px;
        }
        > li{
            border-bottom:1px solid #474747;
            &:last-child{
                border:0;
            }
            > a{
                color:#FFF;
                padding:8px 15px;
                text-align: left;
                &:hover{
                    background:#f0523f;
                    color:#FFF;
                }
            }
        }
    }

    #menu .dropdown.open a.dropdown-toggle {
        background-color: inherit;
    }
}
aside,nav{
    margin-left:10px;
    margin-top: 20px;
    > div{
        margin:-20px 0 40px;
    }
    > div.background{
        background: #fff;
        .rounded-corners(5px);
    }
}
.row{
    margin-left: -10px;
}
section{
    margin-left:10px;
    background: #fff;
    .rounded-corners(5px);
    margin-bottom:30px;
    .head{
        padding: 10px 0;
        border-bottom: 1px; 
    }
    .text-error{
        display: block;
    }
    &.unbackground{
        background: none;
    }
}
aside,nav,section{
    h1,h3,p, form{
        margin: 0 10px 20px 10px; 
    }
    
    > div{
        padding: 11px 20px 20px 20px;
    }
}


footer{
    position: absolute;
    bottom: 0; width: 100%;
    margin-top: 15px;
    background: #fff;
    z-index: 2;
    .row {
        margin-top: -10px;
        position: relative;
        margin: 0 auto;
        .align-right {
            text-align:right;
        }
        a{
            font-size: 0.8em;
            padding: 0 15px;
            text-transform: uppercase;
            line-height: 4em;
        }
        div{
            white-space: nowrap;
        }
    }
    a{
        color:#000;
    }
}

@media (max-width: 767px) {
    header{
        margin: 0 -20px;
    }
    footer{
        left:0;
    }
    section{
        padding: 0;
    }
}
.modal{
    .close-modal{
        margin-top: 5px;
    }
    .modal-footer{
        margin-left: 0px; 
        margin-right: 0px;
    }
}
