.social_icons{
	a {
	    background: url("/img/to sprite/social_icons.png") no-repeat scroll 0 0 transparent;
	    transition: all 0.3s ease-out 0s;
	    float: right;
	    height: 40px;
	    position: relative;
	    padding: 0px;
	}
	.facebook a {
	    background-position: 0 top;
	}
	.facebook a:hover {
	    background-color: #3B5998;
	    background-position: 0 bottom;
	}
	.twitter a {
	    background-position: -34px top;
	}
	.twitter a:hover {
	    background-color: #33CCFF;
	    background-position: -34px bottom;
	}
	.vimeo a {
	    background-position: -68px top;
	}
	.vimeo a:hover {
	    background-color: #41B0FF;
	    background-position: -68px bottom;
	}
	.googleplus a {
	    background-position: -102px top;
	}
	.googleplus a:hover {
	    background-color: #D94A39;
	    background-position: -102px bottom;
	}
	.pinterest a {
	    background-position: -136px top;
	}
	.pinterest a:hover {
	    background-color: #CB2027;
	    background-position: -136px bottom;
	}
	.linkedin a {
	    background-position: -170px top;
	}
	.linkedin a:hover {
	    background-color: #71B2D0;
	    background-position: -170px bottom;
	}
	.dribbble a {
	    background-position: -204px top;
	}
	.dribbble a:hover {
	    background-color: #EF5B92;
	    background-position: -204px bottom;
	}
	.instagram a {
	    background-position: -238px top;
	}
	.instagram a:hover {
	    background-color: #3C87FC;
	    background-position: -238px bottom;
	}
	.skype a {
	    background-position: -272px top;
	}
	.skype a:hover {
	    background-color: #18B7F1;
	    background-position: -272px bottom;
	}
	.rss a {
	    background-position: -306px top;
	}
	.rss a:hover {
	    background-color: #FE9900;
	    background-position: -306px bottom;
	}
}
