  body {
    font-family: sans-serif;
    font-size: 14px;
  }
  #map_canvas {
    height: 400px;
    width: 600px;
    margin-top: 0.6em;
  }
  #mapCanvas {
    width: 500px;
    height: 400px;
    float: left;
  }
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }
  input {
    border: 1px solid  rgba(0, 0, 0, 0.5);
  }
  input.notfound {
    border: 2px solid  rgba(255, 0, 0, 0.4);
  }