
form label {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
form #ville{
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    line-height: 25px;
    margin-right: 10px;
    padding: 12px 8px;
}
form .btn-subscribe, form .btn-subscribe:hover{
    background-color: #FAA732;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FBB450), to(#F89406)); 
    background-image: -webkit-linear-gradient(center top, #FBB450, #F89406); 
    background-image:    -moz-linear-gradient(center top, #FBB450, #F89406); 
    background-image:     -ms-linear-gradient(center top, #FBB450, #F89406); 
    background-image:      -o-linear-gradient(center top, #FBB450, #F89406); 
    background-image:         linear-gradient(to center top, #FBB450, #F89406); /* standard actuel, non implÃ©mentÃ© */
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.35);
    color: #FFFFFF;
    height: 40px;
    text-shadow: -1px -1px 1px #F89406;
    margin-bottom: 11px;
}
form .rayon {
  float: left;
}
form #slider-km {
  float: left;
}

 .maxSubHead {
    font-size: 18px;
    font-weight: bold;
    line-height: 120%;
    text-transform: uppercase;
}

.errors-recherche{
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
  color: red;
}

/* Le slider pour les Kms */
#slider-km {

    background: 50% top #EEEEEE;
    border: 1px solid #DDDDDD;
    color: #333333;

    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1.1em;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid #AAAAAA;
    color: #222222;
    height: 0.8em;
    position: relative;
    text-align: left;
    width: 330px;
    margin-left: 25px;
    margin-top: 3px;
}
.ui-slider-range-min {
    background:  50% 50% #F6A828;
    border: 1px solid #E78F08;
    color: #FFFFFF;
    font-weight: bold;
    height: 100%;
    top: 0;
    border-top-width: 0;
}
#km{
  border:0;
  color:#f6931f;
  font-weight: bold;
}

@media (min-width: 1200px) {
	#slider-km {
		width: 470px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-km {
		width: 380px;
	}
	.index-site .offset2 {
  		margin-left: 64px;
	}
	.index-site .span8 {
	    width: 686px;
	}
}
@media (max-width: 767px) {
	.index-site form #ville{
	    width: 50%;
	}
	#slider-km {
		width: 80%;
	}
	.index-site .offset2 {
  		margin-left: 54px;
	}
	.index-site .span8 {
	    width: 576px;
	}
}
@media (max-width: 487px) {
	.index-site form #ville{
	    width: 30%;
	}
	#slider-km {
		width: 80%;
	}
}


.justify{
    text-align: justify;
}
.txt-middle {
    text-align: center;
}


.box,.orange-row {
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    text-align: center;
    padding: 10px;  
}


.box h3,.orange-row p {
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.box:hover {
    background: #f3705a;
    color: #fff;
}

.box:hover h3 {
    color: #fff;
}
.orange-row{
    padding-bottom: 5px;
    padding-top: 15px;
}
.orange-row:hover {
    background: #EB6232;
    color: #fff;
    box-shadow: 0 1px 1px rgba(223, 85, 38, 0.35);
}
