<ol>
	<li>Laravel 4 - PHP Template SQL REST Url http://laravel.com/</li>
	<li>Bootstrap - CSS JS HTML http://twitter.github.io/bootstrap/</li>
	<li>JQuery - JS http://jquery.com/ </li>
	<li>Pure - Grids HTML http://purecss.io/grids/</li>
	<li>LESS - CSS prepossessor http://lesscss.org/</li>
	<li>Buttons - CSS http://alexwolfe.github.io/Buttons/ </li>
	<li>NicEdit - HTML Editor http://nicedit.com/ </li>
	<li>Parsley.js - Form Validator http://parsleyjs.org/documentation.html </li>
	<li>FancyBox - Image viewer http://fancyapps.com/fancybox/ </li>
	<li>modernizr - Add support for old browser http://fancyapps.com/fancybox/ </li>
	<li>imagesLoaded - Image callback when loaded https://github.com/desandro/imagesloaded </li>
	<li>tmpl - Templating using JQuery https://github.com/BorisMoore/jquery-tmpl </li>
	<li>masonry - Gallery grid style http://masonry.desandro.com/ </li>
	<li>mcustomscrollbar - Custom content scroller style http://manos.malihu.gr/jquery-custom-content-scroller/ </li>
	
</ol>
